<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Romain Sertelon's Blog">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
            <a class="extra" href="/tech">tech (en)</a>
            <a class="extra" href="/fictions">fictions</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Romain Sertelon
              </p>
            </div>
            <div class="contact">
              <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
              </p>
            </div>
        </div>
        </div>

    </body>
</html>
